body {
    background-color: #10002e; 
    color: #7d7d7d; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 50px;
}

header {
    margin-bottom: 20px;
}

.magical-title {
    font-family: 'Mystery Quest', cursive; 
    color: #9370DB; 
    margin-top: 60px;
    font-size: 6em;
}

.myButton {
    background: linear-gradient(to bottom, #e6e6e6 5%, #575757 100%);
    background-color: #e6e6e6;
    border-radius: 30px;
    border: none; /* Set border to none */
    display: block;
    cursor: none;
    color: #7a1a7a;
    font-family: 'Mystery Quest', cursive;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    width: 80px; 
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px; /* Add margin to separate the button from the image */
}

.myButton:hover {
    background: linear-gradient(to bottom, #575757 10%, #e6e6e6 100%);
    background-color: #575757;
}

.myButton:active {
    position: relative;
    top: 2px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid;
    color: purple;
    border-radius: 10px; 
}

footer {
    margin-top: 20px;
}
